* {
  font-family: "Open Sans", sans-serif;
}


  h2 {
  color: red;
  text-align: center;
}


  div.main_container {
  width: 550px;
  height: 550px;
  border: 1px solid #FFC0CB;
  border-radius: 5px;
  background-color: #FFC0CB;
  margin: auto;
  box-shadow: 4px 4px 10px grey;
}


div.inner_container {
  width: 400px;
  height: 400px;
  margin: auto;
  margin-top: 50px;
}


input {
  width: 280px;
}


#checkButton {
  width: 110px;
  height: 25px;
}


#resetButton {
  width: 110px;
  height: 25px;
}


div.input {
  position: relative;
}


div.checkButton {
  position: absolute;
  margin-left: 295px;
  margin-top: -24px;
}


div.resetButton {
  position: absolute;
  margin-left: 295px;
  margin-top: -24px;
}
