* {
  font-family: "Roboto", sans-serif;
}


h1 {
  color: #F8F8FF;
  text-align: center;
  text-shadow: 1px 1px 5px rgb(109, 110, 109);
}


h2 {
  color: #CDC1C5;
  text-align: center;
}


p.story {
  padding: 10px 50px 50px 50px ;
  font-size: 150%;
}


div.main_container {
  position: relative;
  width: 700px;
  height: 700px;
  border: 1px solid #CDC1C5;
  background-color: #CDC1C5;
  border-radius: 3px;
  margin: auto;
  box-shadow: 2px 2px 10px rgb(109, 110, 109);
}


div.pi_container {
  position: relative;
  width: 670px;
  height:210px;
  margin: auto;
}


div.input_name {
  position: absolute;
  width: 500px;
  height: 40px;
}


div.input_radio {
  position: absolute;
  width: 165px;
  height: 40px;
  left: 500px;
}


div.story_container {
  position: relative;
  width: 670px;
  height: 450px;
  border: 1px solid #F8F8FF;
  background-color: #F8F8FF;
  margin: auto;
  box-shadow: inset 1px -1px 10px rgb(109, 110, 109);
}


input#inputName {
  width: 280px;
  background-color: #F8F8FF;
}


input#us, input#uk {
  width: 50px;
}


button.genButton {
  width: 200px;
  height: 40px;
  margin-left: 240px;
  margin-top: 25px;
}


button.resButton {
  width: 200px;
  height: 40px;
  margin-left: 240px;
  margin-top: 10px;
}
