body, html {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

* {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  font-size: 24px;
}

label {
  color: #F8F8FF;
  text-shadow: 1px 1px 2px #696969;
  margin-right: -50px;
}

p {
  color: #F8F8FF;
  text-shadow: 1px 1px 2px #696969;
  text-align: center;
  margin-top: 20px;
}

select {
  margin-top: 85px;
  outline: none;
}

div.container {
  margin-left: 550px;
}
