* {
  font-family: "Calibri", san-serif;
}

.button {
  background-color: #4CAF50;
  border: 1px solid #4CAF50;
  border-radius: 3px;
  color: white;
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  outline-style: none;
}


.button:hover {
  box-shadow: 0 10px 12px 0 rgba(0,0,0,0.24), 0 13px 25px 0 rgba(0,0,0,0.19);
}
