* {
  font-family: "Open Sans", sans-serif;
}


div.headContainer {
  width: 516px;
  margin-left: 330px;
  margin-top: 25px;
}


div.calendarContainer {
  width: 1025px;
  height: 425px;
  margin: auto;
}


label, select {
  outline-style: none;
  font-size: 200%;
}


p.monthName {
  color: #FF3030;
  font-size: 200%;
}


ul {
  padding-left: 0;
}


li {
  display: block;
  float: left;
  width: 100px;
  padding: 20px;
  margin: 3px 3px;
  background-color: #FF8247;
  color: #F8F8FF;
  text-shadow: 1px 1px 1px #696969;
  text-align: left;
  font-size: 200%;
  box-shadow: 2px 2px 5px #696969;
}
